{% extends 'cadastro.html' %}
{% load static %}

{% block title %} Logar {% endblock %}
{% load crispy_forms_tags %}

{% block cadastro %}
<style>
    body {
        height: 100%;
        width: 100%;
        background-image: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)), url('/static/images/backgroundLogin.jpg') no-repeat;
        background-size: cover;
        position: absolute;
    }
</style>
<form method="POST" id="Logar" class="inputForm">
    {% csrf_token %}
    {{ form|crispy }}
    <br>
    <button class="submitBtn" type="submit">Entrar</button>
</form>
{% endblock %}