{% extends 'cadastro.html' %}
{% load static %}

{% block title %} Logar {% endblock %}
{% load crispy_forms_tags %}

{% block cadastro %}
<style>
    body {
        height: 100%;
        width: 100%;
        background-image: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)), url('/static/images/backgroundLogin.jpg');
        background-size: cover;
        position: absolute;
    }
    
    @media(max-width:768px){
    .formBox{
        background-color: #4A7856;
        border-radius:30px;
        height: 90vh;
        margin:6% auto;
        opacity: 0.9;
        overflow:hidden; 
        padding: 5px;
        position: relative;
        text-align:center;
        top:8vh;
        width: 90vw;
    }
}
</style>
<form method="POST" id="Logar" class="inputForm">
    {% csrf_token %}
    {{ form|crispy }}
    <br>
</form>
<div class="divAux">
    <button class="toggleBtn2" type="submit">Entrar</button>
</div>
{% endblock %}