{% extends 'home.html' %}
{% load static %}

{% block title %} Criar conta {% endblock %}
{% load crispy_forms_tags %}

{% block content %}
<!-- <style>
    .inputForm{
        height: 800px;
        width: 600px;
    }
    #hint_id_username{
        display:none;
    }
    #hint_id_password1{
        display:none;
    }
    #hint_id_password2{
        display:none;
    }
</style> -->
    <form method = "POST"id="registrar" class="inputForm">
        {% csrf_token %}
        {{ form|crispy }}
        <br>
        <button type="submit" >Registrar</button>  
    </form>
{% endblock %}