{% extends 'cadastro.html' %}
{% load static %}

{% block title %} Criar conta {% endblock %}
{% load crispy_forms_tags %}

{% block cadastro %}
<style>
    .text-muted {
        display: none;
    }

    #hint_id_username {
        display: none;
    }

    #hint_id_password1 {
        display: none;
    }

    #hint_id_password2 {
        display: none;
    }

    body {
        height: 100%;
        width: 100%;
        background-image: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)), url('/static/images/backgroundLogin.jpg');
        background-size: cover;
        position: absolute;  
    }
@media(max-width:768px){
    .formBox{
        background-color: #f7b733;
        border-radius:30px;
        height: 600px;
        margin:6% auto;
        opacity: 0.9;
        overflow:hidden;   
        position: relative;
        text-align:center;
        top:8vh;
        width: 90vw;
    }
}

</style>
<form method="POST" id="registrar" class="inputForm">
    {% csrf_token %}
    {{ form|crispy }}
    <br>
    <div class="divAux">
        <button class="toggleBtn2" type="submit">Registrar</button>
    </div>
</form>
{% endblock %}