{% extends 'base.html' %}
{% load static %}
{% block content %}

<section class="formBox">
    <div class="buttonBox">
        <div id= "btn"></div>
        <button type="button" onclick="window.location.href = '/login';" class="toggleBtn loginButton">Login</button>
        <button type="button" onclick="window.location.href = '/register';" class="toggleBtn registroButton">Registrar</button>
        
    </div>
    <div class="redesSociais">
        <img src="{% static '/images/facebook.png' %}" alt="">
        <img src="{% static '/images/twitter.png' %}" alt="">
        <img src="{% static '/images/instagram.png' %}" alt="">
    </div>
    {% block cadastro %}
    {% endblock %}
</section>
{% endblock %}
