{% load static %}
<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="{% static 'style.css' %}">
    <script defer src="{% static 'script.js' %}"></script>
    <title>Document</title>
</head>

<body>
    <header>
        <div class="logo">
            <p>Logo</p>
        </div>

        <nav class="menu">
            <a class="linkNav" href="#">Inicio</a>
            <a class="linkNav" href="#">Recomendações</a>
            <a class="linkNav" href="#">Comunidade</a>
            <a class="linkNav" href="#">Sobre</a>
        </nav>

        <aside class="menuLogin">
            <a class="linkLogin" href="#">Cadastro</a>
            <a class="linkLogin" href="#">Login</a>
        </aside>
    </header>

    <section class="sectionOne">
        <div></div>
        <div></div>
        <div></div>
    </section>

    <section class="sectionTwo">
        <div></div>
        <div></div>
        <div></div>
    </section>

    <section class="sectionThree">
        <div></div>
        <div></div>
        <div></div>
    </section>

    <footer>

    </footer>


</body>

</html>