{% load static %}
<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="{% static 'style.css' %}">
    <script defer src="{% static 'script.js' %}"></script>
    <link href="https://fonts.googleapis.com/css?family=Poppins&display=swap" rel="stylesheet">
    <title>Projeto Demoday</title>
</head>

<body>
    <header>
        <div class="logo">
            <p>Logo</p>
        </div>

        <nav class="menu">
            <a href="#">Inicio</a>
            <a href="#">Recomendações</a>
            <a href="#">Comunidade</a>
            <a href="#">Sobre</a>
        </nav>

        <div class="menuIcon">
            <div class="line1"></div>
            <div class="line2"></div>
            <div class="line3"></div>
        </div>

        <aside class="userIcon">
            <a href="#"><img src="{% static '/images/userIcon.png' %}" alt="Ícone de Login"></a>
        </aside>

        <div class="formBox">
            <div class="buttonBox">
                <div id="btn"></div>
                <button type="button" class="toggleBtn loginButton">Login</button>
                <button type="button" class="toggleBtn registroButton">Registrar</button>
            </div>
            <div class="redesSociais">
                <img src="{% static '/images/facebook.png' %}" alt="">
                <img src="{% static '/images/twitter.png' %}" alt="">
                <img src="{% static '/images/instagram.png' %}" alt="">
            </div>
            <form id="login" class="inputForm">
                <input type="text" class="inputField" placeholder="Usuário" required>
                <input type="password" class="inputField" placeholder="Senha" required>
                <input type="checkbox" class="checkBox"><span>Lembrar senha</span>
                <button type="submit" class="submitBtn">Entrar</button>
            </form>
            <form id="registrar" class="inputForm">
                <input type="text" class="inputField" placeholder="Usuário" required>
                <input type="email" class="inputField" placeholder="Email" required>
                <input type="password" class="inputField" placeholder="Senha" required>
                <div class= "divCheck">
                 <input type="checkbox" class="checkBox"><span>Concordo com os termos de uso.</span>
                </div>
                <button type="submit" class="submitBtn">Registrar</button>
            </form>
        </div>


    </header>

    <section class="section1">
        <!-- <ul class = "banner">
            <li>
                <input type= "radio" id= "slide1" name= "slide" checked>
                <label for="slide1"></label>
                <a href="#"><img src="{% static '/images/img-banner-01.jpg' %}" alt="primeira imagem do slider"></a>
            </li>
            <li>
                <input type="radio" id="slide2" name="slide">
                <label for="slide2"></label>
                <a href="#"><img src="{% static '/images/img-banner-02.jpg' %}" alt="segunda imagem do slider"></a>
            </li>
            <li>
                <input type="radio" id="slide3" name="slide">
                <label for="slide3"></label>
                <a href="#"><img src="{% static '/imagens/img-banner-03.jpg' %}" alt="terceira imagem do slider"></a>
            </li>
            <li>
                <input type="radio" id="slide4" name="slide">
                <label for="slide4"></label>
                <a href="#"><img src="{% static '/images/img-banner-04.jpg' %}" alt="quarta imagem do slider"></a>
            </li>
        </ul> -->
    </section>

    <section class="section2">
        <div></div>
        <div></div>
        <div></div>
    </section>
    
    <section class="section3">
        <div class="container">
            <a href=""><img class="celiac" src="{%static '/images/img-glutenfree-filter.jpg'%}" alt=""></a>
            <a href=""><img class="vegan" src="{%static '/images/img-vegan-filter.jpg'%}" alt=""></a>
            <a href=""><img class="vegetarian" src="{%static '/images/img-vegetarian-filter.jpg'%}" alt=""></a>
        </div>
    </section>
    
    <footer>
        <div class="logotipo">
            <img src="..//static/images/logoteste.png" alt="">
        </div>
        <div class="duvidas">
                <p>Entre em contato conosco sempre que tiver algum problema ou dúvida.</p>
        </div>
        <div class="redes_sociais"> 
            <ul>
                 <li><a href="https://www.facebook.com/" target="blank"><img src="../static/images/face.png.png" alt="Nossa Fanpage"></a></li>
                <li><a href="https://www.instagram.com/" target="blank"><img src="../static/images/perfil.png.png" alt=" Perfil no instagram"></a></li>
                <li><a href="https://www.linkedin.com/" target="blank"><img src="../static/images/linkedin.png" alt=""></a></li>
                <li><a href="https://www.youtube.com/" target="blank"><img src="../static/images/youtube.png" alt="Nosso Canal"></a></li>
                <li><a href="https://web.whatsapp.com/" target="blank"><img src="../static/images/whatsapp.png"  alt="Nosso WhatsApp"></a></li>

            </ul>
        </div>

       
      

       
       
    </footer>
</body>

</html>