{% extends 'base.html' %}
{% load static %}
{% block css %}
{% static 'restaurantes-style.css'%}
{% endblock %}

{% block content%}

{% for Restaurante in restaurantes %}
    <br>
    <section class="section-restaurantes">            
        <h2 id = 'restaurantes_nome'>{{Restaurante.nome}}</h2>
        <img src="{% static 'images-restaurantes/' %}{{Restaurante.nome}}.jpg" alt="" id = 'images_restaurantes'>
        <form action="" method="post" id = 'form_restaurante'>
            {% csrf_token %}
            {{review_form}}
            <button id = "formBtn"class="toggleBtn">Enviar!</button>
        </form>
    </section>
{% endfor %}
{% endblock %}