.section-restaurantes{
    display: flex;
    justify-content: center;
    flex-direction: row;
    width: 100%;
    margin-top: 25px;

}

#restaurante_nome{
    margin: 10px;
}
#images_restaurantes{
    
    width: 33%;

}

