body{
    display: grid;
    grid-template-areas:'header'
                        'sectionOne'
                        'sectionTwo'
                        'sectionThree'
                        'footer';
    
    grid-template-columns: 100%;
    grid-template-rows: 90px 400px 300px 360px 150px ;                       
    margin: 0px;
}

header{
    align-items: center;
    background-color: green;
    display: flex;
    grid-area: 'header';
    justify-content: space-between;
}

.logo{
    background-color: lightgray;
    width: 100px;
}

.menu{
    flex-grow:10;
}

.menu a{  
    font-size: 1.3em;
    font-weight:700;
    margin:0px 20px;
    text-decoration: none;
}

.menuLogin a{
    font-size: 1.2em;
    font-weight:300;
    margin-right:25px;
    text-decoration:none;
}

.userIcon{
    display:none;
}

.userIcon a img{
    height: 40px;
    margin-right: 20px;
}

.menuIcon{
    display:none
}

.menuIcon a img {
    height:80px;
}

.sectionOne{
    background-color: aquamarine;
    grid-area: 'sectionOne';
}

.sectionTwo{
    background-color: green;
    grid-area: 'sectionTwo';
}

.sectionThree{
    background-color: aquamarine;
    grid-area: 'sectionThree';
}

footer {
    background-color: green;
    grid-area:'footer';
}

@media (max-width: 900px){
    .menuLogin{
        display:none;
    }
    .userIcon{
        display:block;
    }
}

@media(max-width:765px){
    header{
        display:flex;
        justify-content: space-between;
        
    }
    .menu{
        display:none;
    }
    .menuIcon{
        align-items: center;
        display:flex;
        height:60px;
        margin: 5px;
        justify-content: flex-start;
        order:-1;
    }
    .logo{
        align-items: center;
        display: flex;
        justify-content: center; 
    }
    .userIcon{
        display:block;  
        order: 1;
    }
}