html { 
    scroll-behavior: smooth; 
    overflow-x:hidden;
} 
body{
    display: grid;
    grid-template-areas:'header'
                        'section1'
                        'section2'
                        'section3'
                        'footer';

    grid-template-columns: 100%;
    grid-template-rows: 10vh 110vh 50vh 55vh 20vh ;                           
    margin:0;
    font-family: 'Neucha', cursive;
   
}

#header{
    align-items: center;
    background-color: tomato;
    display: flex;
    grid-area: header;
    justify-content: space-between;
    position:relative;
    width:100%;
    height: 80px;
    z-index: 1;
}

.logo{
    background-color:tomato;
    width: 100px;
}

.logoOficial{
    width: 80px;
    height: 80px;
}

.menu{
    flex-grow:10;
}

.menu a{  
    font-size:1.2em;
    font-weight:500;
    margin:0px 30px;
    text-decoration: none;
    color:#fff;
}

.menu a:hover{
    color:#95A3B3;
    opacity:0.8;
    text-decoration: none;
}

.bemVindo p{
    top:8vh;
    background-color:tomato;
}

.socialMedia,.fruitImg,.teamImg,.houseImg,.messageImg{
    display:none;
}
.houseImg,.fruitImg,.messageImg,.teamImg,.socialMedia{
    height:100%;
    margin-right:10px;
}

.formBox{
    background-color:#f7b733;
    border-radius:30px;
    height: 600px;
    margin:6% auto;
    opacity: 0.9;
    padding: 5px;
    position: relative;
    text-align:center;
    top:100px;
    width: 400px;
    
}

.buttonBox{
    position:absolute;
    right:0;
    top:15vh;
    transform:translateX(130%) ;
    transition: transform 0.5s ease-in;
    opacity:0;
}

.toggleBtn{
    background:#ccc;
    columns: #222222;;
    width: 110px;
    height:35px;
    border: 1px solid #b733;
    font-size:1em;
    border-radius:30px;
    transition: .6s;
    overflow:hidden;
    transform:translate(-50%,-50%);
}

.toggleBtn:focus{
    outline:none;
}

.toggleBtn:before{
    content:'';
    display:block;
    position:absolute;
    background: rgba(255,255,255,0.5);
    width:30px;
    height:100%;
    left:0;
    top:0;
    opacity:.5s;
    filter:blur(30px);
    transform:translateX(-130px) sewX(-15deg);
}

.toggleBtn:after{
    content:'';
    display:block;
    position:absolute;
    background:rgba(255, 255, 255, 0.2);
    width:30px;
    height:100%;
    left:30px;
    top:0;
    opacity:0;
    filter:blur(30px);
    transform:translate(-100px) scaleX(-15deg);
}

.toggleBtn:hover{
    background: #f7b733;
    cursor:pointer;
}

.toggleBtn:hover:before{
    transform:translateX(300px) skewX(-15deg);
    opacity:.6;
    transition:.7;
}

.toggleBtn:hover:after{
    transform:translateX(300px) skewX(-15deg);
    opacity:1;
    transition:.7;
}

.carousel-control-next, .carousel-control-prev {
    z-index:0;
}

.redesSociais{
    margin:30px auto;
}

.redesSociais img{
    cursor:pointer; 
    margin:0 12px;
    width:30px;
}

.redesSociais img:hover{
    opacity:.5;
}
.inputForm{
    top:50px;
    width:100%;
    transition:0.5s ease-in;
    display:flex;
    flex-direction: column; 
}

#id_username, #id_password,#id_email,#id_password1,#id_password2{
    width:100%;
    margin:5px 0;
    border-left:0;
    border-top:0;
    border-right:0;
    border-bottom:1px solid #f7b733;
    border-radius: 30%;
    outline:none;
    display:flex;
    font-size:1.2em;
    justify-content: center;   
      
}

.requiredField, .textInput{
    opacity:1;
    font-weight: 600;
    font-size:1.2em;
}

::placeholder{
    color:#222;
}

.submitBtn{
    width:60%;
    padding:10px 30px;
    cursor:pointer;
    display:block;
    margin:auto;
    background-color:yellow;
    border:0;
    outline:none;
    border-radius:30px;
}

.divAux{
    align-items: center;
    display:flex;
    justify-content:flex-end;
    width:100%;
}

.toggleBtn2{ 
    background:white;
    columns: #222222;;
    width: 50%;
    height:35px;
    border: 1px solid #f7b733;
    font-size:1em;
    border-radius:30px;
    transition: .6s;
    overflow:hidden;
    transform:translate(-50%,-50%);
    justify-content: center;   
}

.toggleBtn2:focus{
    outline:none;
}

.toggleBtn2:before{
    content:'';
    display:block;
    position:absolute;
    background: yellow;
    width:30px;
    height:100%;
    left:0;
    top:0;
    opacity:.5s;
    filter:blur(30px);
    transform:translateX(-130px) sewX(-15deg);
}

.toggleBtn2:after{
    content:'';
    display:block;
    position:absolute;
    background:yellow;
    width:30px;
    height:100%;
    left:30px;
    top:0;
    opacity:0;
    filter:blur(30px);
    transform:translate(-100px) scaleX(-15deg);
}

.toggleBtn2:hover{
    background:tomato;
    cursor:pointer;
}

.toggleBtn2:hover:before{
    transform:translateX(300px) skewX(-15deg);
    opacity:.6;
    transition:.7;
}

.toggleBtn2:hover:after{
    transform:translateX(300px) skewX(-15deg);
    opacity:1;
    transition:.7;
}

.asteriskField{
    display:none;
}

span{
    color:#222;
    font-size:14px;
    bottom:64px;
    position:absolute;
}

.userIcon{
    display:flex;  
    align-items: center; 
    justify-content: space-evenly;
}

.userIcon img{
    cursor:pointer;  
    height: 8vh;
    margin-right: 10px;
}

.userIcon img:hover{
    opacity: .4;
}

.userIcon p {
    height: 70%;
    display: flex;
    margin-top: 10px;
    margin-right:5px;
    font-size:0.9em;
    align-items: center;
    color:#fff;
}

.linkLogout{
    text-decoration:none;
    color:#fff;
    margin: 0 7px;
}

.linkLogout:hover{
    text-decoration: none;
    color:#95A3B3;
    opacity:0.8;
}

.menuIcon{
    display:none;
    cursor: pointer;
}

.menuIcon div{
    width:25px;
    height:3px;
    background-color:black;
    margin: 5px;
    transition: all 0.3s ease;
}

/* BANNER START */
.section1{
    grid-area: section1;  
    background-color: tomato;
}

#banner{
    width: 100%;
    height: auto;
}
/* BANNER END */

/* IMAGES FILTER START*/

.section2{
    grid-area: section2;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    background-color: tomato;
}

.section2 > div{
    width: 30%;
}
.veggie-img{
    position: relative;
    margin-bottom: 15px;

}

.veggie-img img{
    width: 100%;
    border-radius: 40px;
}

.btn-veggie{
    width: fit-content;
    padding: 10px 0;
    outline: none !important;
    border: solid 2px white;
    border-radius: 2px;
    position: absolute; 
    background-color: rgba(0,0,0,0);
    left: 50%;
    bottom: 0;
    transform: translate(-50%,0);
    transition: .6s;
    opacity: 0;
    z-index: 1;
}

.btn-veggie > a{
    margin: 0 1vw;
    font-size: 20pt;
    font-weight: 600;
    color: white;
}
.btn-veggie > a:hover{
    text-decoration: none;
    color: seashell;
}

.veggie-img:hover .btn-veggie{
    transform: translate(-50%,50%);
    bottom: 50%;
    opacity: 1;
}

.overlay{
    height: 0%;
    width: 100%;
    background: #333;
    position: absolute;
    border-radius: 40px;
    top: 0;
    opacity: .0;
    transition: .5s;
}

.veggie-img:hover .overlay{
    opacity: .5;
    height: 100%;

}

.sec2Title{
    display:none;
    color:#fff;
}

/* IMAGES FILTER END*/

/* ABOUT US*/

.section3{
    display: flex;

    background-color: #f7b733;
    grid-area: section3;
    color: #fff;
    padding:0;
}

.aboutUs {

    padding: 20px;
    margin: 0;
    text-align: center;
    align-items: flex-start ;
    justify-content: center;
}

h2.aboutus {
    font-size: 30px;
}

.aboutUsIcon {
    height: 10%;
    width: 10%;
}

/* ABOUT US END*/



.footer {
    display: flex;
    justify-content: space-between;
    background-color: #4ABDAC;
    grid-area: footer;
    padding: 10px;
    
}
.aux1,.aux2,.aux3,.aux4{
    width:20%
}
.aux1 img,.aux2 img,.aux3 img,.aux4 img{
    height: 30px;
    width:30px;
    margin:10px;
}

#textFooter1,#textFooter2,#textFooter3,#textFooter4{
    font-size: 1em;
    width:100%;
}


.mediaFooter{
    height:30px;
}

.informacoes_contato{
    padding: 20px;
    margin: 10 auto;
    text-align: center;
    display: flex;
    justify-content: space-between;
    background-color: #4ABDAC;
    color:white;
}

.icones_footer {
    height: 5%;
    width: 5%;
}

h3.informacoes_contato {
    font-size: 20px;
}

h4.informacoes_contato {
    font-size: 20px;
}

@media only screen and (min-width:450px) and (max-width: 768px) {
    footer {
        clear: both;
        width: 100%
    }
}
  

@media(max-width:1000px){
    body{
        overflow-x: hidden;
        grid-template-rows: 4vh 20vh 900px 520px 710px ;
        width:100%;
        margin:0;
    }

    header{
        display:flex;
        justify-content: space-between;
        position: fixed;
        width: 100%;
    }

    .menu{
        background-color: rgba(255, 99, 71, 0.746);
        border-bottom-right-radius: 30px;
        display: flex;
        flex-direction: column;
        align-items: center;
        height: 80vh;
        flex-grow:none;
        justify-content: space-around;
        position: absolute;
        left:0px;
        top: 10vh;
        transform:translateX(-500px) ;
        transition: transform 0.5s ease-in;   
        opacity:0;
        z-index:3;
        width: 60%;
    }
    
    .menu a{
        display:flex;
        color:#fff;
        font-size: 1em; 
        opacity: 0;
        width:80%;
        justify-content:flex-start;
        align-items:center;
        height:35px;
    }

    .menu a:hover{
        opacity:.8;
    }

    .menuIcon{
        display:block;
        margin-left: 15px;
        order:-1;
    }

    .socialMedia,.fruitImg,.teamImg,.houseImg,.messageImg{
         display:block;
    }

    .logo{
        align-items: center;
        display: flex;
        justify-content: center; 
    }

    .logo img{
        cursor: pointer;
    }
    
    .userIcon{
        flex-grow: 0;
    }

    .sec2Title{
        display:flex;
        margin-top:30px;
        font-weight: 500;
        width:100%;
        height:40px;
        justify-content: center;
        background-color:tomato;
    }

    .section2{
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .section2 > div{
        height: 30%;
        width:80%;
    }
}

.navActive{
    transform: translateX(20%);
    opacity: 1;       
}

.burgerActive{
    transform: translateX(0%);     
    opacity: 1;  
}

@keyframes menuFade{
    from{
        opacity: 0;
        transform: translateX(-50px);  
    }
    to{
        opacity: 1;
        transform: translateX(0px);
    }
}

.toggle .line1{
    transform:rotate(-45deg)translate(-5px,6px)
}

.toggle .line2{
    opacity:0 ;
}

.toggle .line3{
    transform:rotate(45deg)translate(-5px,-6px)
}


@media (max-width:768px){

    html { 
        scroll-behavior:auto; 
    } 
    
    body{
        grid-template-rows: 4vh 20vh 910px 520px 710px ;
        overflow-x:hidden;
    }
    
    .section2{
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .section2 >div{
        height:250px;
    }
    
    .section3{
        flex-direction: row;

    }
    

    .aboutUsIcon {
        height: 20%;
        width: 20%;
    }

    .sec2Title{
        display:flex;
        margin-top:30px;
        font-weight: 500;
        width:100%;
        height:40px;
        justify-content: center;
        background-color:tomato;
    }
    
    .socialMedia{
        height:30px;
    }

    .outros_contatos a{
        margin: 20px 0px;
        justify-content: space-around;
        flex-direction:row;
        display:flex;
    }
    .outros_contatos{
        margin:10px;
    }
   .informacoes_contato{
       margin:10px;
       display:flex;
       justify-content: space-between;
       flex-direction: column;
       align-items: center;
   }
   .aux1 h3,.aux2 h3,.aux3 h3,.aux4 h3{
       font-size:1.5em;
   }
   .aux1,.aux2,.aux3,.aux4{
    font-size:1.5em;
    width:90%;
}
    footer{
        background-color: #4ABDAC;
        color:white;
    }
  
    
}


.aux1 h3,.aux2 h3,.aux3 h3,.aux4 h3{
    font-size:1.3em;
}

.aux1 h4,.aux2 h4,.aux3 h4,.aux4 h4{
    font-size: 1em;
}

