body{
    display: grid;
    grid-template-areas:'header'
                        'section1'
                        'section2'
                        'section3'
                        'footer';
    
    grid-template-columns: 100%;
    grid-template-rows: 70px 400px 300px 360px 150px ;                       
    margin: 0px;
    
}

header{
    align-items: center;
    background-color: green;
    display: flex;
    grid-area: 'header';
    justify-content: space-between;
}

.logo{
    background-color: lightgray;
    width: 100px;
}

.menu{
    flex-grow:10;
}

.menu a{  
    font-size: 1.3em;
    font-weight:700;
    margin:0px 20px;
    text-decoration: none;
}

.menuLogin a{
    font-size: 1.2em;
    font-weight:300;
    margin-right:25px;
    text-decoration:none;
}

.userIcon{
    display:none;
}

.userIcon a img{
    height: 40px;
    margin-right: 20px;
}

.menuIcon{
    display:none;
    cursor: pointer;
}

.menuIcon div{
    width:25px;
    height:3px;
    background-color:black;
    margin: 5px;
    transition: all 0.3s ease;
}

.section1{
    grid-area: 'section1';
}


.banner{
    display: block;
    height: 300px;
    width: 600px;
    margin: auto;
    margin-top: 20px;
    position: relative;
}

.banner li{
    list-style: none;
    position: absolute;
}

.banner img{
    margin: auto;
    height: 100%;
    width: 100%;
    vertical-align: top;
    opacity: 0;
    visibility: hidden;
}

.banner input{
    display: none;
}

.banner label{
    background-color: black;
    bottom: 10px;
    cursor: pointer;
    display: block;
    height: 10px;
    position: absolute;
    width: 10px;
    z-index: 10;
}

.banner li:nth-child(1) label{
    left: 10px;
}

.banner li:nth-child(2) label{
    left: 40px;
}

.banner li:nth-child(3) label{
    left: 70px;
}

.banner li:nth-child(4) label{
    left: 100px;
}

.banner li input:checked ~ img {
    opacity: 1;
    visibility: visible;
    z-index: 10;
}

.section2{
    background-color: green;
    grid-area: 'section2';
}

.section3{
    background-color: aquamarine;
    grid-area: 'section3';
}

footer {
    background-color: green;
    grid-area:'footer';
}

@media (max-width: 900px){
    .menuLogin{
        display:none;
    }
    .userIcon{
        display:block;
    }
}

@media(max-width:765px){
    body{
        overflow-x: hidden;
    }
    header{
        display:flex;
        justify-content: space-between;
        height:50px;
        position: fixed;
        width: 100%;
    }
    .menu{
        position: absolute;
        left:0px;
        top: 70px;
        background-color: white;
        display: flex;
        flex-direction: column;
        align-items: center;
        height: 80vh;
        flex-grow:none;
        justify-content: space-around;
        width: 40%;
        transform:translateX(-300px) ;
        transition: transform 0.5s ease-in;   
    }
    .menu a{
        font-size: 1em; 
        opacity: 0;
    }
    .menuIcon{
        display:block;
        margin-left: 15px;
        order:-1;
    }
    .logo{
        align-items: center;
        display: flex;
        justify-content: center; 
    }
    .userIcon{
        display:block;  
        order: 1;
    }
}
.navActive{
    transform: translateX(0%);       
}
@keyframes menuFade{
    from{
        opacity: 0;
        transform: translateX(-50px);  
    }
    to{
        opacity: 1;
        transform: translateX(0px);
    }
}
.toggle .line1{
    transform:rotate(-45deg)translate(-5px,6px)
}
.toggle .line2{
    opacity:0 ;
}
.toggle .line3{
    transform:rotate(45deg)translate(-5px,-6px)
}